<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<fieldset>
     <legend>자격 검증</legend>
     <table>
        <form action="upload" method="post" encType='multipart/form-data'>
            <tr>
                <td>사용자 : </td>
                <td><input type="text" name="user"/></td>
            </tr>
            <tr>
                <td>도메인 : </td>
                <td><input type="text" name="domain"/></td>
            </tr>
            <tr>
                <td>API-key : </td>
                <td><input type="text" name="apikey"/></td>
            </tr>
            <tr>
                <td>자격 파일 : </td>
                <td><input type="file" value="파일 선택" name="file"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="업로드"/></td>
            </tr>
        </form>
     </table>
</fieldset>

</body>
</html>