<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<fieldset>
     <legend>자격 검증 결과</legend>
     <table border="1">
        <th width="500">파일 이름</th>
        <th>검증 결과</th>
        <% for (var i = 0;i < result.length;i++){ %>
            <tr align="center">
                <td><%= filename[i] %></td>
                <td><%= result[i] %></td>
            </tr>
        <% } %>       
     </table>
</fieldset>

</body>
</html>