<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<fieldset>
     <legend>자격 검증 결과</legend>
     <table border="1">
        <th width="500">속성</th>
        <th>검증 결과</th>
        <tr align="center">
            <td> : </td>
            <td>True</td>
        </tr>
        
     </table>
</fieldset>

</body>
</html>